@value small from "../breakpoints.css";

.section {
  padding: 1em;
  text-align: center;
}

.h2 {
  composes: red from "../colors.css";
}

@media small {
  .block {
    float: left;
    width: 50%;
  }
}
