@import './variables'

:global
  ul
    list-style none
  .tc
    text-align center
  .bold
    font-weight bold
  .p1
    padding 1rem
  .blue
    color $blue
  .red
    color $red
  .green
    color $green
